
/* <-------- General CSS --------> */
*{
    padding: 0;
    margin: 0;
    font-family: 'Nunito', sans-serif;
    font-weight: 500;
}
body{
    background-color: #fefae0;
}

/* <-------- Main CSS --------> */
.cnt{
    width: 100%;
    margin: -5em auto;
    padding-top: 6em;
    padding-bottom: 4em;
}
.title{
    text-align: center;
    padding-top: 1em;
}
.left-content{
    flex-basis: 70%;
}
.left-content{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(18em,1fr));
    column-gap: 1em;
    row-gap: 1em;
    margin: .5em 2em;
}

.inputCnt{
    display: flex;
    justify-content: center;
}
.searcher{
    width: 45em;
    height: 2em;
    border-radius: 8px;
    margin-top: 1.5em;
    border: 2px solid #cb1b16;
    outline: none;
}

.btn-cnt{
    display: flex;
    margin-top: .5em;
    justify-content: center;
    gap: 10em;
}

.btn-cnt button{
    font-weight: 600;
    background-color: #cb1b16;
    box-shadow:#adb5bd 4px 4px 0px;
    border-radius: 5px;
    transition:transform 200ms,box-shadow 200ms;
    width: 6em;
    height: 2.5em;
    margin-left: 0;
    margin: 1rem;
    font-size: 17px;
    font-weight: bold;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
  }
  
  button:active{
    transform:translateY(4px)translateX(4px);
    box-shadow:#adb5bd 0px 0px 0px;
  }

  button:hover{
    background-color: #585b5e;
  }

  footer{
    background-color: #cb1b16;
    color: #fefae0;
    font-weight: 600;
    text-align: center;
  }
/* <-------- Card CSS --------> */
.card{
    width: 18.75em;
    height: 20em;
    background-color:#9dcee2;
    border-radius: 1rem;
    box-shadow: 8px 6px 5px #adb5bd;
    padding: .2em;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    cursor: pointer;
    text-transform: capitalize;
}
.card img{
    width: 15em;
    height: 11em;
    margin-top: .1em;
    border: 1.9px solid #cb1b16;
    border-radius: 8px;
    background-color: #e9edc9;
}

.card h1{
    font-size: 1.5em;
    margin-top: .7em;
    margin-bottom: 5px;
}
.card h2{
    font-weight: 600;
}

.spinner-grow{
    margin-top: 5em;
    width: 10em; 
    height: 10em;
}

/* <-------- Pokeinfo CSS --------> */
.pokeImgOne{
    width: 25em;
    height: 15em;
    margin: 1rem 0;
    margin-bottom: 0em;
    border: 1.9px solid #cb1b16;
    padding: 1em;
    border-radius: 8px;
    background-color: #9dcee2;
}

.modal{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.modal-content{
    box-shadow: 9px 7px 5px #adb5bd;
    border-radius: 8px;
    background-color: #e9edc9;
    padding: 1em;
}

.modal-content h1{
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 2em;
}

.BaseCnt{
    margin-top: 2rem;
    text-align: left;
    margin-left: 1em;
}
.BaseCnt h2{
    font-size: 1.2em;
    font-weight: 600;
}

.infCnt{
    margin-bottom: 1em;
}
.imgCnt{
    display: grid;
    grid-template-columns: repeat(4, 1fr) !important;
    margin-top: 5px;
    
}
.imgCnt img{
    background-color:#9dcee2 ;
}

.spritePoke{
    border: 1.9px solid #cb1b16;
    border-radius: 8px;
    width: 6.2em;
    height: 6em !important;
}

.nameCnt{
    margin-top: 1em;
    margin-bottom: -1em;
    font-size: 1em;
}

.typeCnt{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    
    line-height: 10px;
    margin-bottom: 1em;
}

.typeCnt span{
    font-size: 1.1em;
}
.modalBtn{
    margin: -.5em 0;
}

/*<-------- Media querys -------->*/

